<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcm.com.gistone.database.mapper.DirectoryMapper" >
  <resultMap id="BaseResultMap" type="tcm.com.gistone.database.entity.Directory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="book_id" property="bookId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="section_id" property="sectionId" jdbcType="BIGINT" />
    <result column="page_num" property="pageNum" jdbcType="INTEGER" />
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_id, parent_id, section_id, page_num, parent_name, name, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_directory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_directory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="tcm.com.gistone.database.entity.Directory" >
    insert into tb_directory (id, book_id, parent_id, 
      section_id, page_num, parent_name, 
      name, level)
    values (#{id,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{sectionId,jdbcType=BIGINT}, #{pageNum,jdbcType=INTEGER}, #{parentName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="tcm.com.gistone.database.entity.Directory" >
    insert into tb_directory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="pageNum != null" >
        page_num,
      </if>
      <if test="parentName != null" >
        parent_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=BIGINT},
      </if>
      <if test="pageNum != null" >
        #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tcm.com.gistone.database.entity.Directory" >
    update tb_directory
    <set >
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=BIGINT},
      </if>
      <if test="pageNum != null" >
        page_num = #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="parentName != null" >
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tcm.com.gistone.database.entity.Directory" >
    update tb_directory
    set book_id = #{bookId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      section_id = #{sectionId,jdbcType=BIGINT},
      page_num = #{pageNum,jdbcType=INTEGER},
      parent_name = #{parentName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>